/* hero */

.hero {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content-box {
    max-width: 47rem;
}

.hero-title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 130%;
    margin-top: 0;
    margin-bottom: 1.6rem;
}

.hero-description {
    margin-bottom: 1.6rem;
}

/* services */
.services {
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;
    text-align: center;
}

.services-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 1.6rem;
}

.services-description {
    max-width: 72rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.6rem;
}

.services-list {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    column-gap: 7rem;
    row-gap: 4.8rem;
    padding-top: 0.8rem;
    margin-bottom: 4rem;
}

.services-item {
    max-width: 320px;
    width: 100%;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.services-item-link {
    display: inline-block;
    padding: 2.4rem 7.1rem;
    color: #000;
}

.services-item:hover {
    box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}

.services-item:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.services-item-img {
    width: 180px;
    height: 130px;
    margin-bottom: 1.6rem;
    margin-left: auto;
    margin-right: auto;
}

.services-item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 1.6rem;
}

/* website-information */

.website-information {
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;
}

.website-information-title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 130%;
    text-align: center;
    margin-bottom: 1.6rem;
}

.website-information-description {
    max-width: 72rem;
    width: 100%;
    text-align: center;
    margin-bottom: 2.4rem;
    margin-right: auto;
    margin-left: auto;
}

.website-information-list {
    display: flex;
    flex-direction: column;
    row-gap: 4.8rem;
    padding-left: 13.4rem;
    padding-right: 13.4rem;
    margin-bottom: 4.8rem;
}

.website-information-item {
    display: flex;
    gap: 3.2rem;
}

.website-information-item:nth-child(2n) {
    flex-direction: row-reverse;
}

.website-information-img {
    max-width: 300px;
    width: 100%;
}

.website-information-content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.website-information-content-title {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 130%;
    margin-bottom: 0.8rem;
}

.website-information-link-box {
    text-align: center;
}
